apiVersion: v1
kind: Service
metadata:
  name: folder-service-backend-cluster-ip-service
spec:
  type: ClusterIP
  selector:
    component: folder-service-server
  ports:
    -
      port: 3000
      targetPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: folder-service-frontend-cluster-ip-service
spec:
  type: ClusterIP
  selector:
    component: web
  ports:
    -
      port: 3001
      targetPort: 3001
---
apiVersion: v1
kind: Service
metadata:
  name: postgres-cluster-ip-service
spec:
  type: ClusterIP
  selector:
    component: postgres
  ports:
    -
      port: 5432
      targetPort: 5432
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: folder-service-database-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
